/* Estilo del cuerpo de la página*/
body {
    background-color: #f2f2f2;
    color: #005c62;
    font-family: 'Lora', Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Estilo del texto dentro de etiquetas strong*/
.tituloNivel1__destacado {
    color: #3568BF;
}

/*Estilo del texto dentro de etiquetas span*/
.tituloNivel1__delimitado {
    border: 3px solid #3568BF;
    padding: 10px;
}

/* Estilo por defecto de los enlaces */
.redSocial__item {
    color: #3568BF;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo cuando visité los enlaces */
a:visited { /* visited es una pseudoclase especial que no se puede reemplazar con una clase BEM (--visited) debido a restricciones de seguridad*/
    color: violet;
}

/* Estilo cuando paso el cursor sobre los enlaces */
.redSocial__item--hover{
    text-decoration: underline;
}

/* Estilo cuando mantengo presionado el click sobre los enlaces */
.redSocial__item--active{
    color: #3DEFCA;
}


