/* Estilo del cuerpo de la página*/
body {
    background-color: #f2f2f2;
    color: #005c62;
    font-family: 'Lora', Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Estilo del texto dentro de etiquetas strong*/
.titulo-destacado {
    color: #3568BF;
}

/*Estilo del texto dentro de etiquetas span*/
span {
    border: 3px solid #3568BF;
    padding: 10px;
}

/* Estilo por defecto de los enlaces */
a:link {
    color: #f2f2f2;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo cuando visité los enlaces */
a:visited {
    color: violet;
}

/* Estilo cuando paso el cursor sobre los enlaces */
a:hover {
    color: #f2f2f2;
    text-decoration: underline;
}

/* Estilo cuando mantengo presionado el click sobre los enlaces */
a:active {
    color: #f2f2f2;
}

